body {
    background-image: url('img/bc2.jpg');
    background-size: cover;
}
a{
    text-decoration: none;
}

img{
    height: 60px;
}

#div1{
    display: none;
  }
  #div2{
      display: none;
  }
 
.registr{
    font-size: 12pt;
}

.search{
    display: block;
    opacity: 0.95;
}

.form-control{
    font-size: 16pt;
}
.timetable-glav{
    font-weight: bold;
}

table{
    font-size: 16pt;
}
.bottiu{
    font-size: 14pt ;
}

.number{
    font-size: 13pt;
}
.asd{
    font-weight: bold;
}

.modal-title{
    margin-top: 15px;
    text-align: center;
}



.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}