body {
    background-image: url('img/bc2.jpg');
    background-size: cover;
}
img{
    height: 60px;
}

#div1{
    display: none;
  }
  #div2{
      display: none;
  }
.registr{
    font-size: 12pt;
}

.search{
    opacity: 0.95;
}


.form-control{
    font-size: 16pt;
}
